/* Tag Selectors */


body { 
    margin: auto;
    text-align: center;
    background-color: #EAB2A0;
    font-family: verdana, sans-serif;
    color: white;

    }

h1 {
    margin: auto;
    font-family: "zeyada", sans-serif;
    font-size: 6rem;
    color: #2D4356;
    line-height: 2;
   



    }  

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 0 5% ;
    
    
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 40px auto 40px auto;

}

a { 
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px;
    margin-top: 50px 0 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

a:hover {
    background-color:  #EAB2A0;
}

p   {
    font-family: 'Montserrat', sans-serif;
    /* margin: 40px auto 80px auto; */
    font-weight: 600;
    line-height: 2;    
}


hr {
    margin: 100px auto;
    border: 10px;
    width: 3%;
    padding: 20px;
    border-style: dotted none none;
    color: #EAB2A0; 
}


/* Class Selectors */
.top-container {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
    
   
   
}

.middle-container {
    text-align: center;
    background-color: #435B66;
    
}

.bottom-container {
   
    padding: 20px 0 20px;
    text-decoration: none;
}


.code-machine {
    scale: 60%;
    margin-top: 0;
    padding-bottom: 10%;
    max-width: 100%;
}


.profile {
    padding-top: 30%;
}


.intro {
    width: 70%;
    margin: auto;
}

.footer-link{
    margin: 20px;
    text-decoration: none;
    font-size: 1.2rem;

}

.footer-web{
    margin: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}


.copyright {
    color: #F9F5EB ;
    padding-top: 25px;
   }

.contact-me {
    width: 70%;
    margin: 40px auto 60px; 
    padding-bottom: 20%;
}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}


.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 150px;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 70%;
    text-align: left;
    line-height: 2;
}

.coding-gif {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.creativity {
    width: 25%;
    float: right;
    margin-left: 30px;
}


.btn {
    background: white;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #A76F6F;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

  }
  
  .btn:hover {
    background: #A76F6F;
    color: white;
    text-decoration: none;

  }


  @media (max-width:500px ) {
    
    .top-container {
    padding: 180px 10px 220px;
  }
  }